<div class="createNewQuizpage">
    <h4>QUIZ MAKER</h4>
  
    <form [formGroup]="CreateQuizFormGroup">
      <div class="row">
        <div class="form-group col-md-5">
          <select formControlName="category" id="selectCatogory" class="form-control"
            placeholder="Select a category">
            <option value="">Select a category</option>
            <option [value]="category?.id" *ngFor="let category of categoryList?.trivia_categories;let i=index">
              {{category?.name}}</option>
          </select>
        </div>
  
        <div class="form-group col-md-5">
          <select formControlName="difficulty" id="selectDifficulty" class="form-control"
            placeholder="Select difficulty">
            <option [value]="difficulty.level" *ngFor="let difficulty of difficultyLevels">{{difficulty.name}}</option>
          </select>
        </div>
  
        <div class="form-group col-md-1">
          <button class="btn create-quiz-btn" id="createBtn" [disabled]="CreateQuizFormGroup.invalid" (click)="createQuiz()">Create</button>
        </div>
      </div>
    </form>
  
  </div>
  
  <div *ngIf="questionResult?.results" class="question-list">
    <app-quiz-questions [results]="questionResult.results"></app-quiz-questions>
  </div>

  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="line-scale" [fullScreen] = "true"></ngx-spinner>